<mat-toolbar color="primary">

  <img src="assets/img/logo.png" alt="luuk180">

  <div id="pagelinks">
    <span class="spacing">
      <a mat-raised-button color="accent" routerLink="/home">Home</a>
    </span>

    <span class="spacing">
      <a mat-raised-button color="accent" routerLink="/projects">Projects</a>
    </span>

    <span class="spacing">
      <a mat-raised-button color="accent" routerLink="/cv">CV</a>
    </span>

    <span>
      <a mat-raised-button color="accent" routerLink="/about">About me</a>
    </span>
  </div>

</mat-toolbar>
