<mat-toolbar color="primary">

  <span>
    <a mat-mini-fab color="accent" routerLink="/home" routerLinkActive="active">L</a>
  </span>

  <div id="pagelinks">
    <span class="spacing">
      <a mat-raised-button color="accent" routerLink="/home" routerLinkActive="active">Home</a>
    </span>

    <span class="spacing">
      <a mat-raised-button color="accent" routerLink="/projects" routerLinkActive="active">Projects</a>
    </span>

    <span>
      <a mat-raised-button color="accent" routerLink="/about" routerLinkActive="active">About me</a>
    </span>
  </div>

</mat-toolbar>
